version: '3.9'

networks:
  system:
    external: true

services:
  system.docker.ui:
    container_name: system.docker.ui
    image: index.docker.io/portainer/portainer-ce:latest
    restart: on-failure:3
    command: --admin-password '${PORTAINER_PASSWORD}' -H unix:///var/run/docker.sock
    privileged: true
    labels:
      com.centurylinklabs.watchtower.enable: 'true'
    networks:
      system:
        ipv4_address: 172.20.0.2
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /run/docker.sock:/var/run/docker.sock
      - /volume1/docker/system/portainer/data:/data
    logging:
      driver: json-file
      options:
        max-file: "3"
        max-size: "10m"
